@model IEnumerable<HWEShop.Models.EntityFramework.Products>


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card-deck">

    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img class="bd-placeholder-img card-img-top" width="100" height="180" src="@item.ProductImage"/>

            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>

                <p>
                    @if (item.ProductStock > 0)
                    {
                        <strong> IN STOCK </strong> <strong style="margin-left: 60px;"> @item.ProductPrice</strong>
                    }
                    else
                    {
                        <strong> OUT OF STOCK</strong>
                    }
                </p>

                <a href="#" class="btn btn-primary">ADD TO CART</a>
            </div>
        </div>
    }
</div>
